# For loops

### Learning Objectives

* Understand the components of a point in a graph, an $x$ value, and a $y$ value 
* Understand how to plot a point on a graph, from a point's $x$ and $y$ value
* Get a sense of how to use a graphing library, like Plotly, to answer questions about our data

### Picking up where we last left off

In the last lesson, we plotted some of our travel data.

In [2]:
import pandas
file_name = './cities.xlsx'
travel_df = pandas.read_excel(file_name)
cities = travel_df.to_dict('records')

In [3]:
import plotly

plotly.offline.init_notebook_mode(connected=True)

x_values = [cities[0]['City'], cities[1]['City'], cities[2]['City']]
y_values = [cities[0]['Population'], cities[1]['Population'], cities[2]['Population']]
trace_first_three_pops = {'x': x_values, 'y': y_values, 'type': 'bar'}
plotly.offline.iplot([trace_first_three_pops])

In this lesson, we will use our `for` loop to display information about our travel locations.

### Learning Objectives

### Introduction to the For Loop

Our `cities` list contains information about the top 12 cities.  For our upcoming iteration tasks, it will be useful to have a list of the numbers 0 through 11.  Use what we know about `len` and `range`to generate a list of numbers 1 through 11.  Assign this to a variable called `city_indices`.

In [4]:
city_indices = list(range(0, len(cities)))
city_indices # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

Now we want to create labels for each of the cities. We'll provide a list of the `citie_names` for you.

In [5]:
city_names = ['Solta', 'Greenville', 'Buenos Aires', 'Los Cabos', 'Walla Walla Valley', 'Marakesh', 
              'Albuquerque', 'Archipelago Sea', 'Iguazu Falls', 'Salina Island', 'Toronto', 'Pyeongchang']

Your task is to assign the variable `text` equal to a list, with each element equal to the city name and it's corresponding rank.  For example, the first element would be, `"1. Solta"` and the second would be `"2. Greenville"`.  Use a `for` loop, `city_indices` and `city_names` to accomplish this.

In [6]:
names_and_ranks = []
for i in city_indices:
    names_and_ranks.append(str(i + 1) + ". " + city_names[i])

In [7]:
names_and_ranks[0] # '1. Solta'
names_and_ranks[-1] # '12. Pyeongchang'

'12. Pyeongchang'

Ok, now let's create a new variable called `city_populations`.  Use a `for` loop to iterate through `cities` and have `city_populations` equal to each of the populations.

In [8]:
city_populations = []
for city in cities:
    city_populations.append(city['Population'])

In [9]:
city_populations

[1700,
 84554,
 13591863,
 287651,
 32237,
 928850,
 559277,
 60000,
 0,
 4000,
 630,
 2581000]

Great! Now we can begin to plot this data.  First, let's create a trace of our populations and set it to the variable `trace_populations`.

In [28]:
trace_populations = {'x': names_and_ranks, 'y': city_populations, 'text': names_and_ranks, 'type': 'bar', 'name': 'populations'}

In [29]:
import plotly
plotly.offline.init_notebook_mode(connected=True)
plotly.offline.iplot([trace_populations])

Now we want declare a variable called `city_areas` that points to a list of all of the areas of the cities.  Let's use a `for` loop to iterate through our `cities` and have `city_areas` equal to each area of the city.

In [23]:
city_areas = []
for city in cities:
    city_areas.append(city['Area'])

In [26]:
trace_areas = {'x': names_and_ranks, 'y': city_areas, 'text': names_and_ranks, 'type': 'bar', 'name': 'areas'}

In [27]:
import plotly
plotly.offline.init_notebook_mode(connected=True)
plotly.offline.iplot([trace_populations, trace_areas])

Ok, let's just plot the middle areas separately now.

In [45]:
import plotly
plotly.offline.init_notebook_mode(connected=True)
plotly.offline.iplot([middle_trace_areas])

### Summary

In this section we saw how we can use `for` loops to go through elements of a list and perform the same operation on each.  With using `for` loops we were able to reduce the amount of code that we wrote and write more expressive code.